{% extends "base.html" %}
{% load static %}
{% block title %}Booking{% endblock  %}
{% block content %}
<div class="container mx-auto p-8">
    <h1 class="text-2xl font-semibold mb-4">Table Booking</h1>
    <img src="{% static 'images/table_example.jpg' %}" alt="Background Image" class="background-img" width="300" height="200">
    <form method="post" class="bg-white p-6 rounded-md shadow-md">
        {% csrf_token %}
        <div class="space-y-4">
        {{anythingform.as_p}}
        </div>

        <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">
            Book Table
        </button>
        {% for message in messages  %} 
            <div class="{{message.tags}}" style="color: red;">{{message}}</div>
        {% endfor %}
    </form>
</div>
{% endblock  %}