{% extends "base.html" %}
{% load static %}
{% block title %}Tables{% endblock  %}

{% block content %}
<!-- Menu Section -->
<section class="container mx-auto mt-8">
    <h2 class="text-3xl font-semibold mb-6 text-center">Tables</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <div class="bg-white p-6 rounded-md shadow-md">
            <img src="{% static 'images/table_example.jpg' %}"  alt="table_example" class="mb-4 rounded-md w-full h-48 object-cover">
            {% if tables %}
                <ul class="list-none space-y-2"> 
                    {% for table in tables %}
                        <li class="p-4 hover:bg-gray-100 rounded border border-gray-200">
                            <span class="font-semibold">Table {{table.tableid}}</span>
                            <span >Capacity {{table.capacity}}</span>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="text-center text-gray-600">No tables available</p>
            {% endif %}
        </div>
        {% comment %} <!-- Menu Item 1 -->
        <div class="bg-white p-6 rounded-md shadow-md">
            <img src="{% static 'images/table_example.jpg' %}"  alt="table_example" class="mb-4 rounded-md w-full h-48 object-cover">

            <h3 class="text-xl font-semibold mb-2">Table for 6</h3>
            <span class="text-gray-500 mt-2">Next to the window</span>
        </div>

        <!-- Menu Item 2 -->
        <div class="bg-white p-6 rounded-md shadow-md">
            <img src="{% static 'images/table_example.jpg' %}"  alt="table_example" class="mb-4 rounded-md w-full h-48 object-cover">

            <h3 class="text-xl font-semibold mb-2">Table for 4</h3>
            <span class="text-gray-500 mt-2">In the center</span>
        </div>
        <!-- Menu Item 3 -->
        <div class="bg-white p-6 rounded-md shadow-md">
            <img src="{% static 'images/table_example.jpg' %}" alt="table_example" class="mb-4 rounded-md w-full h-48 object-cover">

            <h3 class="text-xl font-semibold mb-2">Table for 2</h3>
            <span class="text-gray-500 mt-2">Next to the column</span>
        </div>
        <!-- Add more menu items as needed --> {% endcomment %}
    </div>
</section>
{% endblock %}